* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calculator {
  width: 300px;
  height: 500px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  overflow: hidden;
  background-color: rgb(12, 11, 11);
}

form input {
  width: 100%;
  height: 150px;
  font-size: 2rem;
  color: aliceblue;
  background-color: black;
  border: none;
  padding: 1rem;
  text-align: right;
  pointer-events: none;
}

.buttons {
  background-color: gray;
}

button {
  width: 60px;
  height: 52px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  flex: 0 0 0 20%;
  margin: 5px;
  border: 1px solid black;
}

.operator-btn {
  background-color: black;
  color: greenyellow;
}

.operator-btn:hover {
  background-color: green;
  color: white;
}
